.dropdown {
  width: 200px;
  padding: 15px 10px;
}

.dropdown--normal {
  font-size: var(--font-size-lower-small);
  line-height: var(--line-hight-small);
  font-weight: var(font-weight-normal);
}
  