#root {
  max-width: 1200px;
  margin: 0 auto;
}

* {
  font-family: DM Sans;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

a:hover {
  cursor: pointer;
}

@font-face {
  font-family: DM Sans;
  src: url(../../assets/fonts//DMSans-Bold.woff);
}

@font-face {
  font-family: DM Sans;
  src: url(../../assets/fonts/DMSans-Medium.woff);
}

@font-face {
  font-family: DM Sans;
  src: url(../../assets/fonts/DMSans-Regular.woff);
}
  